* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 120px;
    margin: auto;
    align-items: center;
}

.logo{
    width: 150px;
    height: auto;
}

.logo-container{
    flex: 1;
}

nav {
    flex: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.presentation{
    width: 85%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    display: flex;
}

.intro{
    flex: 1;
}

.intro-text h1{
    font-size: 40px;
    font-weight: 600;
}

.intro-text p{
    margin-top: 5px;
    font-size: 15px;
}

.cta-select{
    border: 2px solid #c36cbb;
    color: #c36cbb;
    background: transparent;
    width: 150px;
    height: 50px;
}

.cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cover{
    flex: 1;
}

.cover img{
    height: 80vh;
}



